
@font-face {
    font-family: pixelated;
    src: url('../fonts/COMMP___.TTF');
  }

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.full-layout {
    width: 100vw;
}

.main-layout {
    width: 90vw;
}

.hidden {
    display: none;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.hint-mode {
    cursor: help;
}

.darkmode {
    color: rgb(210, 201, 218);
    background: rgb(37, 30, 44);
}

* {
    margin: 0;
    padding: 0;
    transition: 0.1s;
    overflow: hidden;
    box-sizing: border-box;
    font-family: pixelated;
}

body {
    height: 100vh;
    user-select: none;
    align-items: center;
    justify-content: center;
    background: rgb(153, 125, 181);
}

header {
    flex: 0.08;
    margin-bottom: 1vh;
    align-items: center;
    justify-content: center;
    color: rgb(210, 201, 218);
    background: rgb(67, 29, 105);
}

.header-container {
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    font-size: 1.6rem;
}

.logo:hover {
    color: lightgoldenrodyellow;
    text-shadow: 2px 2px 6px rgba(251, 251, 223, 0.507);
}

.header-btn-container {
    width: 22%;
    align-items: center;
    justify-content: space-between;
}

.header-btn {
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1.4rem;
}

.header-btn:hover {
    transform: scale(1.1);
}

.header-btn:active {
    transform: scale(0.9);
}

.message-modal {
    top: 50%;
    left: 50%;
    height: 40vh;
    z-index: 999;
    align-items: center;
    justify-content: space-evenly;
    border: 4px solid black;
    color: rgb(225, 206, 245);
    background: rgb(69, 20, 118);
    transform: translate(-50%, -50%);
}

.close-modal-btn {
    top: 16%;
    right: 6%;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    background: none;
    position: absolute;
    color: rgb(210, 201, 218);
}

.close-modal-btn:hover {
    transform: scale(1.05);
}

.close-modal-btn:active {
    transform: scale(0.95);
}

.message {
    text-align: center;
    height: fit-content;
}

.reset-btn {
    padding: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 4px;
    border: 1px solid black;
    color: rgb(23, 5, 42);
    background: rgb(231, 226, 226);
}

.reset-btn:hover {
    transform: scale(1.05);
}

.reset-btn:active {
    transform: scale(0.95);
}

.level-picker-container {
    height: 7vh;
    justify-content: space-around;
}

.level-picker-btn {
    flex: 0.32;
    height: 100%;
    cursor: pointer;
    font-weight: 600;
    border-radius: 6px;
    border: 2px solid black;
}

.level-picker-btn:hover{
    color: rgb(131, 131, 17);
}

.level-picker-btn:active {
    transform: scale(0.95);
    background: rgb(182, 171, 194);
} 

main {
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.scores-modal-warpper {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.799);
}

.scores-modal {
    height: 50vh;
    padding: 12px;
    position: relative;
    overflow-y: scroll;
    border-radius: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border: 4px solid black;
    background: rgb(142, 113, 171);
}

.scores-modal::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.score {
    justify-content: space-between;
}

.score > * {
    flex: 1;
    padding: 4px 0;
}

.hints {
    align-items: center;
    justify-content: center;
}

.hint {
    padding: 6px;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
}

.life-container {
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
}

.features-btns-container {
    flex: 0.15;
    justify-content: space-between;
}

.btn-container {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.btn-container > * {
    flex: 1;
    width: 14vw;
    padding: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 8px;
}

.btn-container > *:hover {
    color: rgb(131, 131, 17);
}

.btn-container > *:active {
    transform: scale(0.95);
    background: rgb(182, 171, 194);
}

.smiley-container {
    align-items: center;
    justify-content: center;
}

.smiley {
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
}

.smiley:hover {
    background: rgba(128, 128, 128, 0.222);
}

table {
    flex: 1;
    text-align: center;
    border-radius: 6px;
    box-shadow: 4px 4px 2px rgb(0, 0, 0);
}

table:hover {
    transform: scale(1.01);
}

tbody {
    flex: 1;
    user-select: none;
}

tr {
    flex: 1;
}

td {
    flex: 1;
    cursor: pointer;
    font-weight: 600;
    border-radius: 6px;
    background: lightgrey;
    border: 2px solid black;
}

td:hover {
    background: rgb(174, 174, 174);
}

td:active {
    transform: scale(0.98);
}

.cell {
    justify-content: center;
}

footer {
    flex: 0.04;
    margin-top: 1vh;
    align-items: center;
    justify-content: center;
    background: rgb(67, 29, 105);
}

.copyright {
    font-size: 0.8rem;
    text-align: center;
    color: rgb(210, 201, 218);
}